[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
tabulate = "*"
scikit-learn = "*"
streamlit = "*"
wikipedia = "*"
torch = "*"
einops = "*"
accelerate = "*"
langchain = "*"
duckduckgo-search = "*"
mlflow = "*"
openai = "*"
ipykernel = "*"
python-dotenv = "*"
chromadb = "*"
pypdf = "*"
tiktoken = "*"
word2vec = "*"

[dev-packages]

[requires]
python_version = "3.9"
